.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }
/* table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
} */
.row {
  display: flex;
  margin-bottom: 20px;
}
.column {
  flex: 50%;
}
.smallcolumn {
  flex: 80%;
}
li{
  margin: 0 0 4px 0;
}

.loc-quote{
  font-family: "Lucida Console", monospace;
}



